* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgrey;
  font-family: "Roboto", sans-serif;
}

.flexstart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexbetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexevenly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 400px;
  background-color: #fff;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  min-height: 100vh;
  position: relative;
}

.hide {
  display: none;
}

#contactlist {
  position: relative;
}

#contactlist #header {
  padding: 0 20px;
}

#contactlist #header .fa-search {
  color: gray;
  font-size: 25px;
  margin-top: 20px;
}

#contactlist #header .header__title {
  font-size: 25px;
  margin-top: 20px;
}

#contactlist #header .header__navigation {
  margin: 20px 0;
}

#contactlist #header .header__navigation .header__button {
  border-radius: 100px;
  background-color: lightgrey;
  padding: 8px 25px;
  border: none;
}

#contactlist #header .header__navigation .header__button--active {
  background-color: #5a08df;
  color: #fff;
}

#contactlist .lightergray {
  background-color: #f6f6f6;
  padding: 10px 20px;
}

#contactlist .contactlist__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 10px 0;
}

#contactlist .contactlist__profile .contactlist__info h2 {
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: bold;
}

#contactlist .contactlist__profile .contactlist__info p {
  font-size: 14px;
  line-height: 15px;
  color: gray;
}

#contactlist .contactlist__profile .contactlist__profile--img {
  position: relative;
}

#contactlist .contactlist__profile .contactlist__profile--img img {
  border-radius: 50%;
  margin-right: 10px;
}

#contactlist .contactlist__profile .contactlist__lastseen h3 {
  position: absolute;
  right: 0px;
  top: 17px;
  font-size: 14px;
  color: gray;
}

#contactlist .contactlist__addcontact {
  position: absolute;
  right: 20px;
  bottom: 8%;
  z-index: 999;
}

/* --------------------DETAIL CHAT------------------- */
#chatdetail header {
  padding: 20px;
}

#chatdetail header img {
  margin: 0 10px 0 20px;
}

#chatdetail header h1 {
  font-size: 17px;
  font-weight: bold;
}

#chatdetail .chatdetail__conversation {
  padding: 20px;
  background-color: #f6f6f6;
}

#chatdetail .chatdetail__conversation .chatdetail__friendchat img {
  width: 30px;
  margin-right: 10px;
}

#chatdetail .chatdetail__conversation .chatdetail__friendchat p {
  font-size: 14px;
  background-color: #e9e8e6;
  padding: 10px 15px;
  border-radius: 100px;
}

#chatdetail .chatdetail__conversation .chatdetail__caption {
  font-size: 12px;
  color: gray;
  margin-left: 55px;
}

#chatdetail .chatdetail__conversation .chatdetail__mychat {
  margin: 20px 0;
}

#chatdetail .chatdetail__conversation .chatdetail__mychat p {
  font-size: 14px;
  background-color: #2f1a69;
  color: #fff;
  padding: 10px 15px;
  border-radius: 100px;
  margin-right: 5px;
}

#chatdetail .chatdetail__bottom {
  position: absolute;
  width: 100%;
  bottom: 1%;
}

#chatdetail .chatdetail__bottom i {
  color: gray;
}

#chatdetail .chatdetail__bottom .keyboard {
  padding: 12px 20px;
  background-color: #e9e8e6;
  border-radius: 100px;
  width: 75%;
  position: relative;
}

#chatdetail .chatdetail__bottom .keyboard p {
  color: gray;
  margin-left: 10px;
  font-size: 14px;
}

#chatdetail .chatdetail__bottom .keyboard .fa-camera {
  color: gray;
  position: absolute;
  right: 20px;
}
/*# sourceMappingURL=style.css.map */