$abu-muda: lightgrey;
$abu: gray;
$putih: #fff;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $abu-muda;
  font-family: "Roboto", sans-serif;
}

@mixin flex-box($justifyType) {
  display: flex;
  justify-content: $justifyType;
  align-items: center;
}

.flexstart {
  @include flex-box(flex-start);
}

.flexend {
  @include flex-box(flex-end);
}

.flexbetween {
  @include flex-box(space-between);
}

.flexevenly {
  @include flex-box(space-evenly);
}

.container {
  max-width: 400px;
  background-color: $putih;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 20px;
  min-height: 100vh;
  position: relative;
}

.hide {
  display: none;
}

#contactlist {
  position: relative;

  #header {
    padding: 0 20px;

    .fa-search {
      color: $abu;
      font-size: 25px;
      margin-top: 20px;
    }

    .header__title {
      font-size: 25px;
      margin-top: 20px;
    }

    .header__navigation {
      margin: 20px 0;

      .header__button {
        border-radius: 100px;
        background-color: $abu-muda;
        padding: 8px 25px;
        border: none;
      }

      .header__button--active {
        background-color: rgb(90, 8, 223);
        color: $putih;
      }
    }
  }

  .lightergray {
    background-color: rgb(246, 246, 246);
    padding: 10px 20px;
  }

  .contactlist__profile {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 0;

    .contactlist__info {
      h2 {
        font-size: 17px;
        margin-bottom: 5px;
        font-weight: bold;
      }

      p {
        font-size: 14px;
        line-height: 15px;
        color: $abu;
      }
    }

    .contactlist__profile--img {
      position: relative;

      img {
        border-radius: 50%;
        margin-right: 10px;
      }
    }

    .contactlist__lastseen h3 {
      position: absolute;
      right: 0px;
      top: 17px;
      font-size: 14px;
      color: $abu;
    }
  }
  .contactlist__addcontact {
    position: absolute;
    right: 20px;
    bottom: 8%;
    z-index: 999;
  }
}

/* --------------------DETAIL CHAT------------------- */

#chatdetail {
  header {
    padding: 20px;

    img {
      margin: 0 10px 0 20px;
    }

    h1 {
      font-size: 17px;
      font-weight: bold;
    }
  }

  .chatdetail__conversation {
    padding: 20px;
    background-color: rgb(246, 246, 246);

    .chatdetail__friendchat {
      img {
        width: 30px;
        margin-right: 10px;
      }

      p {
        font-size: 14px;
        background-color: rgb(233, 232, 230);
        padding: 10px 15px;
        border-radius: 100px;
      }
    }

    .chatdetail__caption {
      font-size: 12px;
      color: $abu;
      margin-left: 55px;
    }

    .chatdetail__mychat {
      margin: 20px 0;
      p {
        font-size: 14px;
        background-color: rgb(47, 26, 105);
        color: $putih;
        padding: 10px 15px;
        border-radius: 100px;
        margin-right: 5px;
      }
    }
  }

  .chatdetail__bottom {
    position: absolute;
    width: 100%;
    bottom: 1%;

    i {
      color: $abu;
    }
    .keyboard {
      padding: 12px 20px;
      background-color: rgb(233, 232, 230);
      border-radius: 100px;
      width: 75%;
      position: relative;

      p {
        color: $abu;
        margin-left: 10px;
        font-size: 14px;
      }

      .fa-camera {
        color: $abu;
        position: absolute;
        right: 20px;
      }
    }
  }
}
